body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #757575;
  background-color: #ffffff;
}
body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

ul li {
  list-style: none;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  margin: 0;
  padding-left: 0;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* padding: 0 15px; */
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }
}

.backdrop {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  overflow-y: scroll;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* logo header&footer*/
.logo {
  display: inline-block;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}

.logo .word-web {
  color: #2196f3;
}

.logo .word-studio {
  color: #ffffff;
}

/* header */
/* link */
.header {
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.14);
}

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  /* outline: 2px solid green; */
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
  border: none;
  background-color: inherit;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.close-menu {
  display: none;
}
.menu-btn.is-open .close-menu {
  display: block;
}

.menu-btn.is-open .menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .burger {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    padding-left: 40px;
    padding-right: 15px;
    background-color: #ffffff;
  }
  .burger.is-open {
    display: block;
  }
  .burger .mobile {
    position: absolute;
    bottom: 48px;
    left: 40px;
  }
}
@media screen and (min-width: 768px) {
  .burger {
    height: 100%;
  }
  .burger .mobile {
    display: none;
  }
}

.burger-tel {
  display: block;
  margin-bottom: 32px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.burger-mail {
  display: block;
  margin-bottom: 64px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.burger-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.burger-social li:not(:first-child) {
  padding-left: 10px;
}
.burger-social li:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid #757575;
}

.burger-link {
  display: inline-block;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
  color: #2196f3;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* outline: 2px solid rgb(34, 0, 255); */
}
@media screen and (max-width: 767px) {
  .nav {
    width: 100%;
  }
}

.nav-list {
  /* outline: 2px solid rgb(255, 64, 0); */
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    margin-left: 88px;
    height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .nav-list {
    margin-left: 93px;
  }
}

.nav-list li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-link {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-weight: 500;
  color: #212121;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  /* outline: 2px solid rgb(255, 0, 200); */
}
@media screen and (max-width: 767px) {
  .header-link {
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .header-link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}
@media screen and (max-width: 767px) {
  .active::before {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .active-mobile {
    color: #2196f3;
  }
}

/* contact */
.contact {
  display: none;
  /* outline: 2px solid rgb(255, 64, 0); */
}
@media screen and (min-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}
@media screen and (max-width: 1199px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header .contact li:last-child {
    margin-left: 47px;
  }
}

.header-contact {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  /* outline: 1px solid rgb(128, 0, 75); */
}

.contact li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* outline: 2px solid green; */
}

.contact .icon-mail {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  /* background-color: aqua; */
}

.contact .icon-smartphone {
  width: 16px;
  height: 16px;
  margin-right: 7px;
  fill: currentColor;
  /* background-color: aqua; */
}

.header-contact:hover,
.header-contact:focus {
  color: #2196f3;
}

/* footer */
.footer {
  padding-top: 60px;
  background-color: #2f303a;
}
@media screen and (max-width: 1200px) {
  .footer {
    padding-bottom: 60px;
    text-align: center;
  }
}

.footer .container {
  min-height: 252px;
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-thumb {
    gap: 165px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer .logo {
    padding-top: 60px;
    padding-bottom: 20px;
  }
}

.address-map {
  display: block;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-contact {
  display: block;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-contact:hover,
.address-contact:focus {
  color: #2196f3;
}

.footer .address {
  padding-bottom: 60px;
}
.footer h2 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
  /* outline: 2px solid greenyellow; */
}
@media screen and (min-width: 1200px) {
  .footer .social {
    margin-left: 70px;
    margin-top: 72px;
  }
}

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social li {
  height: 44px;
}

.social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
  /* outline: 2px solid rgb(0, 255, 26); */
}

.footer .social a:hover,
.footer .social a:focus {
  background-color: #2196f3;
}

.social svg {
  height: 20px;
  width: 20px;
}

.footer .social svg {
  fill: #ffffff;
}

/* footer-form */
.footer-form {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: auto;
    margin-top: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .form-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-form input {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 16px;
  height: 50px;
  width: 100%;
  color: #ffffff;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .footer-form input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.footer-form input:focus-visible {
  border-color: #2196f3;
  outline: none;
}

.footer-form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  height: 50px;
  padding: 0px 28px;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
}

.footer-form svg {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

/* portfolio.html */
.portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}

.portfolio-head {
  display: none;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter-btn {
  height: 38px;
  padding-left: 22px;
  padding-right: 22px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color 200ms ease, color 250ms ease, -webkit-box-shadow 250ms ease;
  transition: background-color 200ms ease, color 250ms ease, -webkit-box-shadow 250ms ease;
  transition: background-color 200ms ease, color 250ms ease, box-shadow 250ms ease;
  transition: background-color 200ms ease, color 250ms ease, box-shadow 250ms ease, -webkit-box-shadow 250ms ease;
  /* outline: 2px solid black; */
}

.filter-btn:active,
.filter-btn:focus,
.filter-btn:hover {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* CARD */
.card-set {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-set li {
  height: auto;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .card-set li {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card-set li {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.card {
  display: inline-block;
  width: 100%;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  border: 1px solid #eeeeee;
  -webkit-transition: -webkit-box-shadow 250ms ease;
  transition: -webkit-box-shadow 250ms ease;
  transition: box-shadow 250ms ease;
  transition: box-shadow 250ms ease, -webkit-box-shadow 250ms ease;
}

.card:hover,
.card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-title {
  margin-top: 20px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.card p {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
}

/* overlay */
.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-thumb::before {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  -webkit-transform: translatey(101%);
          transform: translatey(101%);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
  background-color: rgba(33, 150, 243, 0.9);
}

.card-thumb p {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 24px;
  margin: 0;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  -webkit-transition: -webkit-transform 450ms ease;
  transition: -webkit-transform 450ms ease;
  transition: transform 450ms ease;
  transition: transform 450ms ease, -webkit-transform 450ms ease;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  /* outline: solid 1px green; */
}

.card:hover .card-thumb::before {
  -webkit-transform: translatey(0%);
          transform: translatey(0%);
}

.card:hover .card-thumb p {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}/*# sourceMappingURL=portfolio.css.map */