:root {
  --logo-black-color: #000000;
  --logo-blue-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
  --accent-link-color: #2196f3;
  --accent-btn-color: #188ce8;
  --accent-filter-btn-color: #2196f3;
  --title-text-color: #212121;
  --paragraph-color: #757575;
  --hero-bg-color: #2f303a;
  --hero-btn-bg-color: #2196f3;
  --footer-bg-color: #2f303a;
  --clients-color: #afb1b8;

  --basic-margin: 30px;
}

body {
  margin: 0;

  font-family: "Roboto", sans-serif;
  font-size: 16px;

  color: var(--paragraph-color);
  background-color: var(--primary-white-color);
}
img {
  display: block;
  max-width: 100%;
}

ul li {
  list-style: none;
}
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  margin: 0;
  padding-left: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* padding: 0 15px; */

  /* outline: 2px solid tomato; */
}

/* logo header&footer*/
.logo {
  display: inline-block;
  text-decoration-line: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  color: var(--logo-black-color);
}
.logo .word-web {
  color: var(--logo-blue-color);
}
.logo .word-studio {
  color: var(--primary-white-color);
}

/* header */
/* link */
.header > .container {
  display: flex;
  height: 80px;

  /* outline: 2px solid green; */
}
.header {
  /* position: fixed; */
  top: 0px;
  z-index: 2;
  width: 100%;

  background-color: var(--primary-white-color);
}
.header nav {
  display: flex;
  align-items: center;

  /* outline: 2px solid rgb(34, 0, 255); */
}
.nav ul {
  display: flex;
  height: 100%;

  /* outline: 2px solid rgb(255, 64, 0); */
}
.nav li {
  position: relative;

  display: flex;
  align-items: center;
  margin-left: 50px;
}
.nav li:first-child {
  margin-left: 93px;
}
.header-link {
  text-decoration-line: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  color: var(--title-text-color);
  transition: color 200ms ease;
  /* outline: 2px solid rgb(255, 0, 200); */
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-link-color);
}
.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;

  background-color: var(--accent-link-color);
  border-radius: 2px;
}
/* contact */
.contact {
  display: flex;
  margin-left: auto;
  align-items: center;

  /* outline: 2px solid rgb(255, 64, 0); */
}
.header .contact li:last-child {
  margin-left: 47px;
}
.header-contact {
  display: inline-flex;
  align-items: center;

  text-decoration-line: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  color: var(--paragraph-color);
  transition: color 200ms ease;
  /* outline: 1px solid rgb(128, 0, 75); */
}
.contact li {
  display: inline-flex;

  /* outline: 2px solid green; */
}
.contact .icon-mail {
  width: 16px;
  height: 16px;
  margin-right: 10px;

  fill: currentColor;
  /* background-color: aqua; */
}
.contact .icon-smartphone {
  width: 16px;
  height: 16px;
  margin-right: 7px;

  fill: currentColor;
  /* background-color: aqua; */
}
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-link-color);
}

/* footer */
.footer {
  background-color: var(--footer-bg-color);
}
.footer .container {
  display: flex;
  height: 252px;
}
.footer .logo {
  padding-top: 60px;
  padding-bottom: 20px;
}
.address-map {
  text-decoration-line: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}
.address-contact {
  text-decoration-line: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.address-contact:hover,
.address-contact:focus {
  color: var(--accent-link-color);
}
.footer .address {
  padding-bottom: 60px;
}
.footer h2 {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}
.footer .social {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-top: 72px;

  /* outline: 2px solid greenyellow; */
}
.social ul {
  display: inline-flex;
  gap: 10px;
}
.social a {
  display: inline-block;
  height: 44px;
  width: 44px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms ease;
  /* outline: 2px solid rgb(0, 255, 26); */
}
.footer .social a:hover,
.footer .social a:focus {
  background-color: var(--accent-link-color);
}
.social svg {
  margin: 12px;
  height: 20px;
  width: 20px;
}
.footer .social svg {
  fill: var(--primary-white-color);
}

/* footer-form */
.footer-form {
  margin-left: 93px;
  margin-top: 72px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.form-thumb {
  display: flex;
  align-items: end;
}
.footer-form label {
  display: flex;
  flex-direction: column;
}
.footer-form input {
  margin-top: 20px;
  margin-right: 12px;
  padding: 0px 16px;
  height: 50px;
  width: 358px;

  color: var(--primary-white-color);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-form input:focus-visible {
  border-color: var(--accent-filter-btn-color);
  outline: none;
}
.footer-form button {
  display: flex;
  align-items: center;
  text-align: center;

  min-width: 200px;
  height: 50px;
  padding: 0px 28px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  background: var(--accent-filter-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
}
.footer-form svg {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

/* index.html */
/* hero */
/* title */
.hero {
  text-align: center;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;

  background-color: var(--hero-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.hero-title {
  padding-top: 200px;
  padding-bottom: 30px;
  padding-left: 237px;
  padding-right: 237px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}
/* button */
.hero-btn {
  /* position: absolute; */
  /* width: 200px; */
  height: 50px;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 200px;

  /* display: flex; */
  /* align-items: center; */
  /* text-align: center; */
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--hero-btn-bg-color);
  border: none;
  border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-btn-color);
}

/* feature */
/* feature-title */
.feature ul {
  display: inline-flex;
  gap: var(--basic-margin);

  /* outline: 2px solid black; */
}
/* .feature li {
  outline: 2px solid green;
} */
.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 120px;
  width: 270px;
  margin-bottom: var(--basic-margin);

  background-color: var(--secondary-white-color);
  border-radius: 4px;
}
.feature-icon svg {
  height: 70px;
  width: 70px;

  /* outline: 2px solid green; */
}
.feature {
  margin-bottom: 94px;
}
.feature-title {
  padding-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}
.feature-paragraph {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.feature-head {
  display: none;
}

/* we-doing */
/* title */
.we-doing ul {
  display: flex;
  gap: var(--basic-margin);

  /* outline: 2px solid green; */
}
.we-doing {
  margin-bottom: 94px;
}
.we-doing .title {
  padding-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.we-doing .thumb {
  position: relative;
}
.thumb-text {
  position: absolute;
  bottom: 0;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}
.we-doing .thumb p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);

  /* outline: 2px solid #fff; */
}

/* team  */
.team ul {
  display: flex;
  gap: var(--basic-margin);

  /* outline: 2px solid green; */
}
.team .team-card {
  margin-bottom: 94px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}
.team {
  background-color: var(--secondary-white-color);
}
.team img {
  margin-bottom: var(--basic-margin);
}
.team-title {
  padding-top: 94px;
  padding-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.team-paragrap {
  margin-bottom: 16px;

  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.team .social {
  gap: 10px;
  margin-left: 32px;
  margin-bottom: 30px;
}
.team .social li {
  height: 44px;
}
.team .social a {
  position: relative;

  color: #afb1b8;
}
.team .social a::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: scale(0);
  transition: transform 250ms ease;

  background-color: var(--accent-link-color);
  border-radius: 50%;
}
.team .social a:hover,
.team .social a:focus {
  color: var(--primary-white-color);
}
.team .social a:hover::before,
.team .social a:focus::before {
  transform: scale(1);
}
.team .social svg {
  position: relative;
  z-index: 1;

  fill: currentColor;
}

/* clients */
.clients .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients h2 {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.clients ul {
  display: inline-flex;
  gap: var(--basic-margin);
}
.clients li {
  width: 170px;
  height: 92px;
}
.clients a {
  width: inherit;
  height: inherit;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--clients-color);
  border: 1px solid var(--clients-color);
  border-radius: 4px;
  transition: color 250ms ease, border-color 250ms ease;

  /* outline: 1px dashed; */
}
.clients a:focus,
.clients a:hover {
  color: var(--accent-link-color);
  border-color: var(--accent-link-color);
}
.clients svg {
  height: 60px;
  width: 106px;

  fill: currentColor;
}

/* portfolio.html */
.portfolio ul {
  display: flex;

  /* outline: 2px solid green; */
}
.portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}
.portfolio-head {
  display: none;
}
.filter {
  justify-content: center;
  margin-bottom: 50px;
}
.filter-btn {
  margin-left: 8px;
  height: 38px;
  padding-left: 22px;
  padding-right: 22px;

  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  background: var(--secondary-white-color);
  border: none;
  border-radius: 4px;
  transition: background-color 200ms ease, color 250ms ease,
    box-shadow 250ms ease;

  /* outline: 2px solid black; */
}
.filter-btn:active,
.filter-btn:focus,
.filter-btn:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-filter-btn-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* CARD */
.card-set {
  flex-wrap: wrap;
  gap: var(--basic-margin);
}
.card-set li {
  width: calc((100% - (var(--basic-margin) * 2)) / 3);
  height: auto;

  /* outline: 1px dashed black; */
}
.card {
  display: inline-block;
  height: -webkit-fill-available;

  text-decoration-line: none;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--paragraph-color);
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms ease;
}
.card:hover,
.card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-title {
  margin-top: 20px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.card p {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
}

/* overlay */
.card-thumb {
  position: relative;
  overflow: hidden;
}
.card-thumb::before {
  position: absolute;
  top: 0;
  content: "";

  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms ease;

  background-color: rgba(33, 150, 243, 0.9);
}
.card-thumb p {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  padding: 24px;
  margin: 0;

  transform: translate(-50%, 100%);
  transition: transform 450ms ease;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);

  /* outline: solid 1px green; */
}
.card:hover .card-thumb::before {
  transform: translatey(0%);
}
.card:hover .card-thumb p {
  transform: translate(-50%, -50%);
}

/* backdrop */
.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms ease;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* modal */
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  height: 581px;
  width: 528px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms ease;

  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  padding: 0px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color 250ms ease;
}
.close svg {
  width: 11px;
  height: 11px;

  fill: currentColor;
  transition: transform 250ms ease;
}
.close:hover,
.close:focus {
  color: var(--accent-link-color);
}
.close:hover svg,
.close:focus svg {
  transform: rotate(180deg);
}

/* form  */
.form {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 40px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--paragraph-color);
}
.form p {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.form a {
  color: var(--accent-link-color);
}
.group {
  display: inline-flex;
  flex-direction: column;

  margin-bottom: 20px;

  width: 100%;
}
.group input {
  padding-left: 42px;
}
.group input,
.group textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms ease;
}
.group input:focus-visible,
.group textarea:focus-visible {
  outline: 0px;
  border-color: var(--accent-link-color);
}
.group input {
  height: 40px;
  width: 100%;
}
.group label {
  display: inline-flex;
  flex-direction: column;
}
.group label:not(:last-child) {
  margin-bottom: 10px;
}
.svg-thumb {
  position: relative;
  width: 100%;
  margin-top: 4px;
}
.svg-thumb svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  fill: var(--title-text-color);
  transition: fill 250ms ease;
}
.group input:focus-visible + svg {
  fill: var(--accent-link-color);
}

textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 5px;

  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--paragraph-color);
}
.btn {
  padding: 0;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  color: var(--primary-white-color);
  background: var(--hero-btn-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.btn:hover {
  background: var(--accent-btn-color);
}
