/* feature */
/* feature-title */
.feature {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px){
    margin-bottom: 94px;
  }
}
.feature ul {
  @media screen and (min-width: 768px) {
    display: inline-flex;
    gap: $basic-margin;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
  }

  // outline: 2px solid black;
}
.feature li {
  &:not(:last-child) {
    @media screen and (max-width: 768px) {
      margin-bottom: $basic-margin;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - ($basic-margin * 1)) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - ($basic-margin * 2)) / 3);
  }

  // outline: 2px solid green;
}
.feature-icon {
  @include centeredFlex();

  height: 120px;
  // width: 270px;
  width: 100%;
  margin-bottom: $basic-margin;

  background-color: $secondary-white-color;
  border-radius: 4px;
}
.feature-icon svg {
  height: 70px;
  width: 70px;

  /* outline: 2px solid green; */
}

.feature-title {
  padding-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-text-color;

  @media screen and (max-width: 767px){
    text-align: center;
  }
}
.feature-paragraph {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
