/* feature */
/* feature-title */
.feature ul {
  display: inline-flex;
  gap: $basic-margin;

  /* outline: 2px solid black; */
}
/* .feature li {
  outline: 2px solid green;
} */
.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 120px;
  width: 270px;
  margin-bottom: $basic-margin;

  background-color: $secondary-white-color;
  border-radius: 4px;
}
.feature-icon svg {
  height: 70px;
  width: 70px;

  /* outline: 2px solid green; */
}
.feature {
  margin-bottom: 94px;
}
.feature-title {
  padding-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $title-text-color;
}
.feature-paragraph {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.feature-head {
  display: none;
}