/* footer */
.footer {
  padding-top: 60px;

  background-color: $footer-bg-color;

  @media screen and (max-width: 1200px) {
    padding-bottom: 60px;
    text-align: center;
  }
}
.footer .container {
  min-height: 252px;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.footer-thumb {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    gap: 165px;
    justify-content: center;
  }
}
.footer .logo {
  display: block;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 20px;
  }
}
.address-map {
  display: block;

  text-decoration-line: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $primary-white-color;
}
.address-contact {
  display: block;

  text-decoration-line: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.address-contact:hover,
.address-contact:focus {
  color: $accent-link-color;
}
.footer .address {
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
  }
}
.footer h2 {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $primary-white-color;
}
.footer .social {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-top: 72px;
  }

  /* outline: 2px solid greenyellow; */
}
.social ul {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.social li {
  height: 44px;
}
.social a {
  @include centeredFlex();

  height: 44px;
  width: 44px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms ease;
  /* outline: 2px solid rgb(0, 255, 26); */
}
.footer .social a:hover,
.footer .social a:focus {
  background-color: $accent-link-color;
}
.social svg {
  height: 20px;
  width: 20px;
}
.footer .social svg {
  fill: $primary-white-color;
}

/* footer-form */
.footer-form {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-top: 72px;
  }
}
.form-thumb {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: end;
  }
}
.footer-form label {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
  }
}
.footer-form input {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 16px;
  height: 50px;
  width: 100%;

  color: $primary-white-color;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}
.footer-form input:focus-visible {
  border-color: $accent-filter-btn-color;
  outline: none;
}
.footer-form button {
  display: flex;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  height: 50px;
  padding: 0px 28px;
  cursor: pointer;

  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $primary-white-color;

  background: $accent-filter-btn-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
}
.footer-form svg {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
