
  $logo-black-color: #000000;
  $logo-blue-color: #2196f3;
  $primary-white-color: #ffffff;
  $secondary-white-color: #f5f4fa;
  $accent-link-color: #2196f3;
  $accent-btn-color: #188ce8;
  $accent-filter-btn-color: #2196f3;
  $title-text-color: #212121;
  $paragraph-color: #757575;
  $hero-bg-color: #2f303a;
  $hero-btn-bg-color: #2196f3;
  $footer-bg-color: #2f303a;
  $clients-color: #afb1b8;

  $basic-margin: 30px;